html
  head
    title E-book Store 
    block scripts
    block style 
    style 
        include ../static/base.css 
  body
nav#navbar
    ul
        li #[a(href='/home') Home]
        li #[a(href='/about') About ]
        li #[a(href='/services') Services]
        li #[a(href='/contact') Contact us]

block content 
footer#footer 
    | copright 2021|All Rights Reserved.

