extends base.pug
block scripts
    script(src='../static/inndex.js')
block style
    style
      include ../static/bookonrent.css
block content
    h3 Books for you
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book1.jpg")   
        div.container2
            h1  A Japanese Boy  
            h2  by Shigemi Shiukichi
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent     
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book2.jpg")   
        div.container2
            h1  An Index of The Divine Comedy by Dante by Dante Alighieri  
            h2  by Dante Alighieri
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent 
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book3.jpg")   
        div.container2
            h1  Anthem  
            h2  by Ayn Rand
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent  
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book4.jpg")   
        div.container2
            h1  Around the World in Eighty Days   
            h2  by Jules Verne
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent   
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book5.jpg")   
        div.container2
            h1  Calculus Made Easy    
            h2  by Silvanus P. Thompson
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent 
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book6.jpg")   
        div.container2
            h1  Great Expectations     
            h2  by Charles Dickens
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent  
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book7.jpg")   
        div.container2
            h1  Gulliver's Travels into Several Remote Nations of the World    
            h2  by Jonathan Swift  
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent 
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book8.jpg")   
        div.container2
            h1  Moby Dick; Or, The Whale   
            h2  by Herman Melville    
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent  
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book10.jfif")   
        div.container2
            h1  Siddhartha    
            h2  by Hermann Hesse   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent 
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book11.jpg")   
        div.container2
            h1  The Complete Works of William Shakespeare     
            h2  by William Shakespeare   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent                    
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book12.jpg")   
        div.container2
            h1  The Count of Monte Cristo, Illustrated      
            h2  by Alexandre Dumas   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book13.jpg")   
        div.container2
            h1  The Happy Prince, and Other Tales      
            h2  by Oscar Wilde   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent  
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book14.jpg")   
        div.container2
            h1  The Prince and the Pauper      
            h2  by Mark Twain    
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book15.jpg")   
        div.container2
            h1  The Republic     
            h2  by Plato    
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent                                                          
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book16.jpg")   
        div.container2
            h1  The Time Machine      
            h2  by H. G. Wells   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent 
    div.container1 
        div.card-img
            img(a src="static/Book Covers/book17.jpg")   
        div.container2
            h1  War and Peace       
            h2  by graf Leo Tolstoy   
        div.container3    
            form(action="/bookonrent" method="POST" id = "buy")     
                button(class="btn1")
                    |Buy 
            form(action="/bookonrentrent" method="POST" id = "rent")     
                button(class="btn2")
                    |Rent                                        