extends base.pug
block scripts
    script(src='../static/index.js')
block style
    style
      include ../static/mycart.css
block content
    h1 Your Cart
    div.container1
        div.container2
            ul#sidenav 
                li #[a(href="/myaccount") MY Account]
                li #[a(href="/myorder") My order]
                li #[a(href="/bookonrent") Book On Rent]
                li #[a(href="/mycart") My Cart]
                li #[a(href="/help") Help]    