@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Chela+One&family=Indie+Flower&display=swap');



.container1{
    display: flex;
    flex-direction: row;
    
}
.container3{
    display: flex;
    flex-direction: column;
    margin-block-end: 0;
    align-items:center ;
}   

.container2{
    display: flex; 
    flex-direction: column;  
    background-color: rgb(27 25 25 / 76%);
    height:525px;
    margin-block-start: 0;
    margin-left: 6px;
    background-color: rgb(72 68 68 / 73%);
}
h1{
    justify-content: center;
    text-align: center;
    margin: 2px;
    font-family: 'Asap', sans-serif;
    color: rgb(77, 69, 69);
    overflow: hidden;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 20px;
    font-weight: bolder;
}
#sidenav{
    margin-top:20x 10px ;
}
#sidenav li{
    list-style: none; 
    margin-top: 20px;
    text-align: left;
}
#sidenav li a {
    text-decoration: none;
    margin: 2px 4px;
    padding: 14px 13px;
    color: rgb(255, 255, 255);
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: 900;
}   
#sidenav li a:hover{
    background-color: rgb(73, 60, 60);
    margin: 2px 4px;
    padding: 14px 13px;
}

