#logo{
    display: flex ;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    font-family: 'Indie Flower', cursive;
}
#logo img{
    height:42px;
    filter: invert(1);
    

}
#navbar{
    background-color: rgb(16 16 16 / 76%);
    display: flex;
    flex-direction: row;
    margin: 0 6px;
    padding: 0px 11px;
    height: 44px;


}
#navbar ul {
    display: flex; 
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 1px 39px;
    margin: 2px;
    margin-left: 110px;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    margin: 2px 4px;
    padding: 14px 13px;
    color: rgb(255, 255, 255);
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#navbar li a:hover{
    background-color: rgb(112, 102, 102);
    margin: 2px 4px;
    padding: 14px 13px;
}
 .container1{
    display: flex;
    flex-direction: row;
    
}
#footer{
    height: 25px;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400 ;
    margin:0 6px;
    
}